<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services
        https://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="app.stage">%env(APP_STAGE)%</parameter>
        <parameter key="app.site_base_url">%env(SITE_BASE_URL)%</parameter>
        <parameter key="app.telegram_admin_id">%env(int:TELEGRAM_ADMIN_ID)%</parameter>

        <parameter key="app.default_locale">en</parameter>
        <parameter key="app.default_currency">USD</parameter>

        <parameter key="app.data_dir">%kernel.project_dir%/data</parameter>

        <parameter key="app.telegram_activities_token">%env(TELEGRAM_ACTIVITIES_TOKEN)%</parameter>
        <parameter key="app.telegram_activities_channel">%app.telegram_admin_id%</parameter>

        <parameter key="app.telegram_errors_token">%env(TELEGRAM_ERRORS_TOKEN)%</parameter>
        <parameter key="app.telegram_errors_channel">%app.telegram_admin_id%</parameter>

        <parameter key="app.log_activities">%env(bool:LOG_ACTIVITIES)%</parameter>

        <parameter key="app.contact_options" type="collection">
            <parameter key="feedbacks">%app.feedbacks_contact_options%</parameter>
        </parameter>
    </parameters>

    <services>
        <service id="app.index_controller" class="App\Controller\IndexController">
            <argument>%kernel.project_dir%/public/img/favicon.ico</argument>
            <tag name="controller.service_arguments"/>
        </service>
        <service id="app.money_normalizer" class="App\Serializer\MoneyNormalizer" lazy="true">
            <tag name="serializer.normalizer" priority="-950"/>
        </service>
        <service id="app.contact_options_factory" class="App\Service\ContactOptionsFactory" lazy="true">
            <argument>%app.contact_options%</argument>
            <argument type="service" id="app.translator"/>
            <argument type="service" id="app.telegram_link_provider"/>
        </service>
        <service id="app.translator" class="App\Service\Translator" lazy="true">
            <argument type="service" id="translator"/>
            <argument type="service" id="app.array_key_quoter"/>
        </service>
        <service id="app.validator" class="App\Service\Validator" lazy="true">
            <argument type="service" id="validator"/>
        </service>
        <service id="app.id_generator" class="App\Service\IdGenerator" lazy="true"/>
        <service id="app.trim_quotes_env_var_processor" class="App\Service\TrimQuotesEnvVarProcessor" lazy="true">
            <tag name="container.env_var_processor"/>
        </service>
        <service id="app.money_formatter" class="App\Service\MoneyFormatter" lazy="true">
            <argument type="service" id="app.intl_currency_provider"/>
        </service>
        <service id="app.doctrine_dry_runner" class="App\Service\Doctrine\DryRunner" lazy="true">
            <argument type="service" id="doctrine.orm.entity_manager"/>
        </service>
        <service id="app.csv_file_walker" class="App\Service\CsvFileWalker" lazy="true"/>
        <service id="app.validator_helper" class="App\Service\Validator\ValidatorHelper" lazy="true">
            <argument type="service" id="app.array_key_quoter"/>
        </service>
        <service id="app.address_geocoder" alias="app.google_address_geocoder"/>
        <service id="app.timezone_geocoder" alias="app.google_timezone_geocoder"/>
        <service id="app.activity_event_handler" class="App\Message\EventHandler\ActivityEventHandler" lazy="true">
            <argument type="service" id="app.feedback_repository"/>
            <argument type="service" id="app.feedback_search_repository"/>
            <argument type="service" id="app.feedback_lookup_repository"/>
            <argument type="service" id="app.feedback_notification_repository"/>
            <argument type="service" id="app.telegram_bot_payment_repository"/>
            <argument type="service" id="app.user_contact_message_repository"/>
            <argument type="service" id="app.messenger_user_repository"/>
            <argument type="service" id="monolog.logger.activities"/>
            <argument type="service" id="serializer"/>
            <argument type="service" id="logger"/>
            <tag name="messenger.message_handler" handles="App\Message\Event\ActivityEvent" bus="app.event_bus"/>
        </service>
        <service id="app.crawler_provider" class="App\Service\CrawlerProvider" lazy="true">
            <argument type="service" id="http_client"/>
        </service>
    </services>
</container>