#should be synced with:
#1) .env
#1) phpunit.xml
#2) serverless.yml

APP_STAGE=local

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=any
###< symfony/framework-bundle ###

SITE_BASE_URL=http://localhost:8000

TELEGRAM_WEBHOOK_BASE_URL=http://localhost:8000
TELEGRAM_ADMIN_ID=1
TELEGRAM_ACTIVITIES_TOKEN=0:nay
TELEGRAM_ERRORS_TOKEN=0:any

LOG_ACTIVITIES=true

FEEDBACK_CREATOR_USER_TARGET_MESSENGER_REQUIRED=true
FEEDBACKS_LIQPAY_TOKEN=
FEEDBACKS_PORTMONE_TOKEN=
FEEDBACKS_SBERBANK_TOKEN=
FEEDBACKS_STRIPE_TOKEN=

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
DATABASE_URL="mysql://user:pass@host:port/db?serverVersion=8&charset=utf8mb4"
###< doctrine/doctrine-bundle ###
