# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

SYMFONY_VERSION=6.2.*
STABILITY=stable
CADDY_MERCURE_URL=http://caddy/.well-known/mercure
CADDY_MERCURE_JWT_SECRET=!ChangeThisMercureHubJWTSecretKey!
HTTP_PORT=80
HTTPS_PORT=443
HTTP3_PORT=443
SERVER_NAME=localhost

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=82ec4883705ba53bd7ecdefe8f25db45
###< symfony/framework-bundle ###

FRONTEND_BASE_URL=https://localhost

INSTAGRAM_DEFAULT_USERNAME=
INSTAGRAM_DEFAULT_PASSWORD=

TELEGRAM_DEFAULT_API_TOKEN=0:any
TELEGRAM_DEFAULT_USERNAME=any
TELEGRAM_DEFAULT_WEBHOOK_URL=https://localhost/telegram/webhook
TELEGRAM_DEFAULT_CERTIFICATE_PATH=
TELEGRAM_DEFAULT_ADMIN_IDS='[]'
TELEGRAM_DEFAULT_LANGUAGE_CODES='["en"]'
TELEGRAM_DEFAULT_ADMIN_CHAT_IDS='[]'
TELEGRAM_DEFAULT_CHECK_UPDATE_DUPLICATES=false
TELEGRAM_DEFAULT_PROCESS_ADMIN_ONLY=true

TELEGRAM_FEEDBACKS_API_TOKEN=any:any
TELEGRAM_FEEDBACKS_USERNAME=wild_s_bot
TELEGRAM_FEEDBACKS_WEBHOOK_URL=https://localhost/telegram/webhook/feedbacks
TELEGRAM_FEEDBACKS_CERTIFICATE_PATH=
TELEGRAM_FEEDBACKS_ADMIN_IDS='["0"]'
TELEGRAM_FEEDBACKS_LANGUAGE_CODES='["en","uk","ru"]'
TELEGRAM_FEEDBACKS_ADMIN_CHAT_IDS='[]'
TELEGRAM_FEEDBACKS_CHECK_UPDATE_DUPLICATES=false
TELEGRAM_FEEDBACKS_PROCESS_ADMIN_ONLY=true

FEEDBACK_CREATOR_USER_TARGET_MESSENGER_REQUIRED=false

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml

#DATABASE_DRIVER=pdo_pgsql
DATABASE_DRIVER=pdo_mysql

POSTGRES_HOST=postgres
POSTGRES_PORT=port
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=db
POSTGRES_VERSION=15

MYSQL_HOST=mysql
MYSQL_PORT=port
MYSQL_USER=user
MYSQL_PASSWORD=pass
MYSQL_DATABASE=database
MYSQL_VERSION=8
###< doctrine/doctrine-bundle ###
