<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         convertDeprecationsToExceptions="false"
         verbose="true"
         reverseDefectList="true"
         testdox="false"
>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="E_ERROR | E_WARNING | E_PARSE | E_NOTICE"/>
        <ini name="memory_limit" value="512M"/>

        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.5"/>
        <server name="KERNEL_CLASS" value="App\Tests\Kernel"/>

        <env name="KERNEL_CLASS" value="App\Tests\Kernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>

<!--        should be synced with:-->
<!--        1) .env-->
<!--        2) .env.dist-->
<!--        3) serverless.yml-->

        <env name="APP_STATE" value="local"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_SECRET" value="$ecretf0rt3st"/>
        <env name="SITE_BASE_URL" value="http://localhost"/>
        <env name="TELEGRAM_WEBHOOK_BASE_URL" value="http://localhost"/>
        <env name="TELEGRAM_FEEDBACKS_USERNAME" value="any"/>
        <env name="TELEGRAM_FEEDBACKS_API_TOKEN" value="0:any"/>
        <env name="TELEGRAM_FEEDBACKS_ADMIN_IDS" value='["409525390"]'/>
        <env name="TELEGRAM_FEEDBACKS_LANGUAGE_CODES" value='["en","uk","ru"]'/>
        <env name="TELEGRAM_FEEDBACKS_ADMIN_CHAT_IDS" value='["409525390"]'/>
        <env name="TELEGRAM_FEEDBACKS_CHECK_UPDATES" value="true"/>
        <env name="TELEGRAM_FEEDBACKS_CHECK_REQUESTS" value="true"/>
        <env name="TELEGRAM_FEEDBACKS_PROCESS_ADMIN_ONLY" value="false"/>
        <env name="TELEGRAM_ACTIVITIES_TOKEN" value="0:any"/>
        <env name="TELEGRAM_ACTIVITIES_CHANNEL" value="0"/>
        <env name="LOG_ACTIVITIES" value="false"/>
        <env name="FEEDBACK_CREATOR_USER_TARGET_MESSENGER_REQUIRED" value="false"/>
        <env name="FEEDBACKS_LIQPAY_TOKEN" value=""/>
        <env name="FEEDBACKS_PORTMONE_TOKEN" value=""/>
        <env name="FEEDBACKS_SBERBANK_TOKEN" value=""/>
        <env name="FEEDBACKS_STRIPE_TOKEN" value=""/>
        <env name="DATABASE_URL" value="mysql://app:1111@mysql:3306/app_test?serverVersion=8&amp;charset=utf8mb4"/>

        <const name="PHPUNIT_TESTSUITE" value="true"/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener">
            <!--            <arguments>-->
            <!--                <array>-->
            <!--                    <element key="debug-class-loader">-->
            <!--                        <integer>0</integer>-->
            <!--                    </element>-->
            <!--                </array>-->
            <!--            </arguments>-->
        </listener>
    </listeners>

    <!-- Run `composer require symfony/panther` before enabling this extension -->
    <!--
    <extensions>
        <extension class="Symfony\Component\Panther\ServerExtension" />
    </extensions>
    -->
</phpunit>
