{% extends 'feedbacks.tg.site.privacy_policy.html.twig' %}

{% block content %}
    <p><b>Останнє оновлення: 27 липня 2023 р.</b></p>

    <h2>1. Загальні положення</h2>
    <p>Згідно Закону України від 01 червня 2010 року № 2297-VI «Про захист персональних даних»
        (надалі – «Закон») під персональними даними розуміють відомості чи сукупність відомостей про фізичну особу,
        яка ідентифікована або може бути конкретно ідентифікована. Згідно Політики конфіденційності в поняття
        "особистої інформації" входить інформація, або частина інформації, котра дозволяє Вас ідентифікувати. Як
        правило сюди входить ім’я та прізвище, псевдонім (нік), адреса електронної пошти та номер телефону, може
        також входити така інформація, як IP-адреса. Такі відомості ми можемо отримати безпосередньо від Вас,
        наприклад, при реєстрації на сайті, наданні контактних даних, інформації отриманої із банківської картки або
        платежів, а також іншу особисту інформацію, яку Ви добровільно надали нам.</p>
    <p>Компанія з великою повагою ставиться до конфіденційної (персональної) інформації всіх без винятку осіб, які
        відвідали сайт, а також тих, хто користується наданими сайтом послугами; в зв'язку з чим, Компанія прагне
        захищати конфіденційність персональних даних (відомостей чи сукупність відомостей про фізичну особу, яка
        ідентифікована або може бути конкретно ідентифікована), тим самим створивши і забезпечивши максимально
        комфортні умови використання сервісів Сайту кожному користувачеві. </p>

    <h2>2. Використання та мета збору персональних даних.</h2>
    <p>Особиста інформація відвідувачів сайту, зібрана при реєстрації, переважно використовується для надання послуг
        у відповідності з Вашими потребами, в першу чергу для надання послуг або у договірних відносинах, а також
        для відповідей на Ваші запитання. Також ми можемо використовувати Вашу контактну інформацію в поштових
        відправленнях, а саме повідомляти Вас про нові можливості, акції та інші новини. Ми діємо відповідно до цієї
        Політики конфіденційності, на підставі Положення про обробку і захист персональних даних та на підставі
        чинного законодавства України.</p>
    <p>Ми маємо право зберігати Персональні дані стільки, скільки необхідно для реалізації мети, що зазначена у
        даній Політиці або у строки, встановлені чинним законодавством України або до моменту видалення Вами цих
        даних.</p>

    <h2>3. Надання доступу до інформації.</h2>
    <p>Надання доступу до особистої інформації іншим компаніям і приватним особам можливе лише за таких наступних
        обставин:<br></p>
    <ul>
        <li>Має місце наявність дозволу Користувача. Для передачі будь-якої конфіденційної інформації потрібна явна
            згода Користувача.
        </li>
        <li>В випадках визначених чинним законодавством України, а також у випадках запобігання злочину або завдання
            шкоди нам або третім особам.
        </li>
    </ul>

    <h2>4. Захист інформації.</h2>
    <p>Ми вживаємо всіх необхідних заходів для захисту даних від несанкціонованого доступу, зміни, розкриття чи
        знищення. До цих заходів належать, зокрема, внутрішня перевірка процесів збору, зберігання та обробки даних
        і заходів безпеки, включаючи відповідне шифрування і заходи щодо забезпечення фізичної безпеки даних для
        запобігання неавторизованого доступу до систем, в яких ми зберігаємо особисті дані. </p>

    <h2>5. Зміна політики конфіденційності.</h2>
    <p>Користувач приймає умови цієї політики конфіденційності і враховує, що дана політика конфіденційності може
        час від часу змінюватися. Зміни, що вносяться до політики конфіденційності, публікуються на цій
        сторінці.</p>
    <p>З питань щодо політики конфіденційності (в т.ч. видалення персональних даних), Користувач може зв'язатися з
        нами використовуючи любий зручний <a href="{{ path('app.telegram_site_page', {username: bot.username, page: 'contacts'}) }}" target="_blank">спосіб</a>.</p>

    <h2>6. Видалення інформації:</h2>
    <p>Абсолютно вся інформація користувача може бути видалена використовуючи один із, наведених нижче, способів:</p>
    <ul>
        <li>Команда <a href="{{ contacts.botLink }}"
                       target="_blank">{{ include('feedbacks.tg.command.html.twig', {name: 'purge', html: true}) }}</a> в самому боті
        </li>
        <li>Шляхом <a href="{{ path('app.telegram_site_page', {username: bot.username, page: 'contacts'}) }}" target="_blank">звернення</a> любим зручним способом</li>
    </ul>
{% endblock %}