{% trans_default_domain 'site.terms_of_use' %}

{% extends 'site.layout.html.twig' %}

{% block title %}{{ 'title'|trans({'%bot%': contacts.botName}) }}{% endblock %}

{% block h1 %}{{ 'h1'|trans({'%bot%': contacts.botName}) }}{% endblock %}

{% block content %}
    <p class="fs-5">{{ 'headline'|trans }}</p>
    <p>{{ 'list_headline'|trans }}:</p>
    @todo
    <br>
{% endblock %}