{% extends 'site.privacy_policy.en.html.twig' %}

{% block content %}
    <p><b>Последнее обновление: 27 июля 2023 г.</b></p>
    <p>
        Мы в {{ contacts.botName }} («мы», «нас», «сервис» или «наш») создали эту политику конфиденциальности («Политика
        конфиденциальности Chatbot»), чтобы описать, как мы собираем и используем личную информацию (определено ниже)
        от и о пользователях ("пользователи чат-ботов", "пользователи", "вы", "ваш"), которые используют наш Сервис (как
        определено ниже) на разных платформах, таких как Telegram (платформы).
    </p>
    <p>
        Настоящая Политика конфиденциальности распространяется на использование Пользователями мобильных функций,
        приложений и любых
        других интерактивных функций или служб, которыми владеет или контролирует {{ contacts.botName }} (каждая из них
        «Сервис» и
        вместе «Сервисы»). Определенные функции, обсуждаемые в настоящей Политике конфиденциальности, могут не
        предлагаться в
        каждой услуге в определенное время. Эта Политика конфиденциальности Chatbot касается только платформ
        мессенджеров, таких как
        Telegram.
    </p>
    <p>
        В этой Политике конфиденциальности Chatbot объясняется, какую Личную информацию (указанную ниже) мы собираем от
        или о Пользователях, как мы используем эту информацию и предоставляем ей доступ, а также ваш выбор относительно
        нашей
        обработки данных Эта Политика конфиденциальности Chatbot является частью наших <a
                href="{{ path('app.site_terms_of_use') }}">Условия использования Chatbot</a>.
    </p>
    <p>
        Прежде чем пользоваться Сервисом или отправлять нам любую личную информацию, внимательно просмотрите эту
        Политику
        конфиденциальности чат-бота и свяжитесь с нами, если у вас возникнут вопросы. Пользуясь Сервисом, вы
        соглашаетесь с правилами, описанными в настоящей Политике конфиденциальности чат-бота. Если вы не согласны с
        этой Политикой
        конфиденциальности чат-бота, пожалуйста, не пользуйтесь Сервисом.
    </p>

    <h2>1. Бот может собирать следующие данные пользователей:</h2>
    <ul>
        <li>Страна происхождения</li>
        <li>Язык</li>
        <li>IP-адрес</li>
        <li>Номер телефона</li>
        <li>Адрес электронной почты</li>
        <li>Имя и Фамилия</li>
        <li>Дата рождения</li>
        <li>Идентификатор пользователя платформы</li>
    </ul>

    <h2>2. Удаление информации:</h2>
    <p>
        Абсолютно вся информация пользователя может быть удалена используя один из следующих способов:
    </p>
    <ul>
        <li>Команда "Удалить данные и выйти" в самом боте</li>
        <li>Путем <a href="{{ path('app.site_contacts') }}">обращение</a> любим удобным способом</li>
    </ul>
    <p>
        Больше информации можно найти здесь.
    </p>
{% endblock %}