{% trans_default_domain 'site.index' %}

{% extends 'site.layout.html.twig' %}

{% block title %}{{ contacts.botName }}{% endblock %}

{% block h1 %}{{ contacts.botName }}{% endblock %}

{% block content %}
    <p class="fs-5">{{ 'headline'|trans({'%create_command%': '<a href="' ~ contacts.botLink ~ '" target="_blank">' ~ 'icon.create'|trans({}, 'tg.feedbacks') ~ ' <u><b>' ~ 'command.create'|trans({}, 'tg.feedbacks') ~ '</b></u></a>'})|raw }}</p>
    <p>{{ 'list_headline'|trans({'%search_command%': '<a href="' ~ contacts.botLink ~ '" target="_blank">' ~ 'icon.search'|trans({}, 'tg.feedbacks') ~ ' <u><b>' ~ 'command.search'|trans({}, 'tg.feedbacks') ~ '</b></u></a>'})|raw }}</p>
    <br>
{% endblock %}