{% extends 'site.privacy_policy.en.html.twig' %}

{% block content %}

    <p>
        Больше информации можна найти <a href="{{ path('app.site_privacy_policy', {_locale: 'en'}) }}">здесь</a>.
    </p>
{% endblock %}